.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.category-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category {
    flex-basis: calc(33.333% - 20px);
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
}

.category:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,.2);
}

.main-content {
    padding: 20px;
}
